.title {
  text-align: center;
  font: normal 48px/52px @Merriweather;
  color: @white;

  &_small {
    font: normal 27px/29px @OpenSans;
    color: @light;
  }

  & + &_small {
    margin-top: -28px;
  }
}
