@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans:400,400i,700,700i');
html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(#816F90, #35284A);
  font: normal 14px/16px 'Open Sans', Arial, sans-serif;
  color: #212121;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
.title {
  text-align: center;
  font: normal 48px/52px 'Merriweather', 'Times New Roman', serif;
  color: #FFFFFF;
}
.title_small {
  font: normal 27px/29px 'Open Sans', Arial, sans-serif;
  color: #F8CD9E;
}
.title + .title_small {
  margin-top: -28px;
}
.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;
}
@media screen and (max-width: 580px) {
  .wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }
}
.box {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.box__item {
  width: 48%;
  border-radius: 8px;
  background-color: #FFFFFF;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.23), 0 3px 10px rgba(0, 0, 0, 0.16);
}
.box__head {
  background-color: #FB7D79;
  color: #FFFFFF;
  font: normal 14px/16px 'Merriweather', 'Times New Roman', serif;
  padding: 16px;
  margin: 0;
  border-radius: 8px 8px 0 0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}
.box__body {
  padding: 16px;
}
@media screen and (max-width: 580px) {
  .box {
    display: block;
  }
  .box__item {
    width: 100%;
  }
  .box__item + .box__item {
    margin-top: 16px;
  }
}
.socials {
  text-align: center;
  margin-bottom: 16px;
}
.socials__item {
  display: inline-block;
}
.socials__item + .socials__item {
  margin-left: 16px;
}
.textarea {
  display: block;
  overflow: auto;
  width: 100%;
  font-size: 14px;
  border-radius: 8px;
  border: 0;
  font-family: monospace;
  min-height: 500px;
  resize: vertical;
  outline: none;
}
@media screen and (max-width: 580px) {
  .textarea {
    min-height: 200px;
    resize: none;
  }
}
.link {
  color: #FB7D79;
  text-decoration: none;
}
.link:visited {
  color: #FB7D79;
}
.link:hover,
.link:active {
  color: #FFFFFF;
}
.footer {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 20px 0 10px;
}
.footer > .footer__text {
  font-size: 12px;
  color: #F8CD9E;
}
